<section class="benifits-list">
  <div class="container">
    <ul class="benifits-list__container">
      {{#each benifitsList }}
      <li class="benifits-list__item">
        <svg class="benifits-list__item-icon {{this.icon.modClass}}" width="{{this.icon.width}}" height="{{this.icon.height}}">
          <use xlink:href="#{{this.icon.id}}">
        </svg>
        <div class="benifits-list__item-text">
          <h3 class="benifits-list__item-name">{{{this.name}}}</h3>
          <p class="benifits-list__item-description">{{{this.description}}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>