{{#extend "layout"}}
{{#content "main"}}

<div class="container">
  {{> form-filter }}
</div>

{{!-- Нейминг говно --}}
<section class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__accordion">
        {{#each distributors}}
        <div class="distributors">
          <div class="distributors__header">
            <div class="distributors__header-inner">
              <h3 class="distributors__city">{{this.city}}</h3>
              <span class="distributors__count">{{this.distributors.length}} дистрибьюторов</span>
              <svg class="distributors__header-icon">
                <use xlink:href="#slash">
              </svg>
            </div>
          </div>
          <ul class="distributors__list">
            {{#each this.distributors}}
            <li class="distributors__item">
              <div class="distributors__btn">
                <h4 class="distributors__item-name">{{this.name}}</h4>
                <span class="distributors__item-address">{{this.address}}</span>
                <a class="distributors__item-tel" href="#" title="Позвонить">
                  <svg class="distributors__item-tel-icon">
                    <use xlink:href="#phone-filled">
                  </svg>
                  <span class="distributors__item-tel-label">{{this.tel}}</span>
                </a>
                <span class="distributors__item-working-time">{{this.workingTime}}</span>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </div>

      <div class="contacts__distributors-map" id="distributorsMap"></div>
    </div>
  </div>
</section>

{{> form-question lightTheme=true text="Мы всегда открыты<br>к сотрудничеству"}}

{{!-- Яндекс Карта в футере с центральным офисом. Данные берутся из data-атрибутов --}}
<div class="container">
  <div class="contacts__main-office-map" id="mainOfficeMap"
    data-mapcenterlongitude="55.76"
    data-mapcenterlatitude="37.64"
    data-longitude="55.76"
    data-latitude="37.64"
    data-address="Беларусь, 225003, Брестская область, Брестский р-н, Тельминский с\с, 7"
    data-tel="+78005000600"
    data-telformatted="8 800 5000 600"
    data-workingtime="Пн-Пт, с 10:00 до 22:00"></div>
</div>

{{/content}}
{{/extend}}