{{#extend "layout"}}
{{#content "main"}}

<div class="container">
  {{> form-filter }}
</div>

<section class="gallery">
  <div class="container">
    <div class="gallery__inner">
      <ul class="gallery__list">
        {{!-- Данные из json --}}
        {{#each cards}}
          <li class="gallery__list-item">
            <a class="gallery-card" href="product.html" title="Перейти на страницу товара">
              <div class="gallery-card__image-wrapper">
                <picture>
                  {{!-- Если есть webp --}}
                  {{#if this.webp}}
                    <source srcset="img/content/gallery/{{this.webp}}" type="image/webp">
                  {{/if}}
                  <img class="gallery-card__image" src="img/content/gallery/{{this.image}}" alt="{{this.name}}">
                </picture>
              </div>
              <div class="gallery-card__text-container">
                <h3 class="gallery-card__name">{{this.name}}</h3>
                <span class="gallery-card__place">{{this.place}}</span>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>

      {{> load-more-btn }}

    </div>
  </div>
</section>

{{/content}}
{{/extend}}