{{#extend "layout"}}
{{#content "main"}}

<section class="intro">
  <div class="intro__inner">
    <div class="swiper intro__slider">

      <div class="swiper-pagination intro__slider-pagination"></div>

      <div class="intro__slider-navigation">
        <button class="intro__slider-btn intro__slider-btn_type_next" type="button" title="Вперед">
          <svg class="intro__slider-btn-icon">
            <use xlink:href="#slider-nav-up">
          </svg>
        </button>
        <button class="intro__slider-btn intro__slider-btn_type_prev" type="button" title="Назад">
          <svg class="intro__slider-btn-icon">
            <use xlink:href="#slider-nav-down">
          </svg>
        </button>
      </div>

      <div class="swiper-wrapper intro__slider-wrapper">
        {{#each slides}}
          <div class="swiper-slide">
            <div class="intro-slide">

              <div class="intro-slide__content-block">
                <div class="intro-slide__image-container">
                  <div class="intro-slide__image-wrapper">
                    <picture>
                      {{#if imageWebP}}
                        <source srcset="img/content/main-slider/{{this.imageWebP}}" type="image/webp">
                      {{/if}}
                      <img class="intro-slide__image" src="img/content/main-slider/{{this.image}}" alt="Слайд">
                    </picture>
                    <div class="intro-slide__image-label-container">
                      <img class="intro-slide__image-label-icon" src="img/content/icons/icon-1.svg" alt="{{this.imageLabel}}">
                      <span class="intro-slide__image-label">{{this.imageLabel}}</span>
                    </div>
                  </div>
                </div>
                <div class="intro-slide__text">
                  <h2 class="intro-slide__title">{{{this.title}}}</h2>
                  <p class="intro-slide__subtitle">{{{this.subtitle}}}</p>
                </div>
              </div>

              <div class="intro-slide__big-image-block">
                <picture>
                  {{#if bigImageWebP}}
                    <source srcset="img/content/main-slider/{{this.bigImageWebP}}" type="image/webp">
                  {{/if}}
                  <img class="intro-slide__big-image" src="img/content/main-slider/{{this.bigImage}}" alt="Слайд">
                </picture>
                <a href="#" class="intro-slide__link">
                  <span class="intro-slide__link-label">Коллекция</span>
                  <div class="intro-slide__link-title-container">
                    <span class="intro-slide__link-title">{{this.collectionName}}</span>
                    <svg class="intro-slide__link-icon">
                      <use xlink:href="#right-arrow">
                    </svg>
                  </div>
                </a>
              </div>

            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<section class="to-catalog">
  <div class="container">
    <div class="to-catalog__inner">
      <span class="to-catalog__label">Фасадные панели <br/> от которых невозможно оторвать взгляд</span>

      {{!-- Костыль, выводим ссылки по 3 шт --}}
      {{#each catalogLinks}}
      <ul class="to-catalog__links">
        {{#each this}}
          <li class="to-catalog__links-item">
            <a class="to-catalog__link" href="#">{{this}}</a>
            <svg class="to-catalog__link-icon">
              <use xlink:href="#slash">
            </svg>
          </li>
        {{/each}}
      </ul>
      {{/each}}

      <a class="to-catalog__btn" href="#">
        <svg class="to-catalog__btn-icon">
          <use xlink:href="#3-dot">
        </svg>
        <span class="to-catalog__btn-label">Каталог панелей</span>
      </a>
    </div>
  </div>
</section>

<section class="benefits">
  <div class="benefits__container">
    <div class="benefits__inner">
      <ul class="benefits__list">
        {{#each benefits}}
          {{#if this.link}}
            <li class="benefits__item">
              <div class="benefit">
                <a class="benefit__link-block" title="Открыть каталог" href="#">
                  <div class="benefit__arrow-link">
                    <svg class="benefit__arrow-icon">
                      <use xlink:href="#right-arrow">
                    </svg>
                  </div>
                  <svg class="benefit__icon">
                    <use xlink:href="#{{this.icon}}">
                  </svg>
                  <picture>
                    {{#if this.imageWebP}}
                      <source srcset="img/content/benefits/{{this.imageWebP}}" type="image/webp">
                    {{/if}}
                    <img class="benefit__image" src="img/content/benefits/{{this.image}}" alt="{{this.subtitle}}">
                  </picture>
                  <div class="benefit__description">
                    <h3 class="benefit__title">{{this.title}}</h3>
                    <span class="benefit__subtitle">{{{this.subtitle}}}</span>
                  </div>
                </a>
              </div>
            </li>
          {{else}}
            <li class="benefits__item">
              <div class="benefit">
                <div class="benefit__text-block">
                  <img class="benefit__text-block-image" src="img/content/icons/{{this.icon}}" alt="{{this.title}}">
                  <h3 class="benefit__text-block-title">
                    <svg class="benefit__text-block-title-icon">
                      <use xlink:href="#slash">
                    </svg>
                    <span class="benefit__text-block-title-label">{{this.title}}</span>
                  </h3>
                  <span class="benefit__text-block-subtitle">{{this.subtitle}}</span>
                </div>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<section class="benifits-list">
  <div class="container">
    <ul class="benifits-list__container">
      {{#each benifitsList }}
      <li class="benifits-list__item">
        <svg class="benifits-list__item-icon {{this.icon.modClass}}" width="{{this.icon.width}}" height="{{this.icon.height}}">
          <use xlink:href="#{{this.icon.id}}">
        </svg>
        <div class="benifits-list__item-text">
          <h3 class="benifits-list__item-name">{{{this.name}}}</h3>
          <p class="benifits-list__item-description">{{{this.description}}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>

{{> form-question text="У Вас остались вопросы?"}}

{{/content}}
{{/extend}}